@import 'lncs.scss';
@import 'shared.scss';
@import 'shared_override.scss';

.figure-width-twothird {
  height: auto;
  width: 300px !important;
}

.figure-width-half {
  height: auto;
  width: 200px !important;
}

header {
  .actions,
  .context {
    display: none;
  }
}
pre {
  overflow: hidden;
}

.supsub {
    display: inline-block;
}

.supsub sup,
.supsub sub {
    position: relative;
    display: block;
    font-size: .7em;
    line-height: 1.2;
}

.supsub sub {
    top: .3em;
}

.supsub sup {
    top: .3em;
}
