@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700,700i');
@import 'reset.scss';

@media screen {
  #repeating-title {
    display: none;
  }
}

#keywords {
  font-weight: normal;
  .title {
    font-style: italic;
  }
}

.printonly {
  display: none;
}

img.plot {
  width: auto;
  height: 16em;
}

body {
  margin: 0 auto;
  padding: 1em;

  font: 13pt/1.4 "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  max-width: 800px;
}

header {
  margin-bottom: 2em;

  h1 {
    font-size: 1.9em;
    letter-spacing: -.01em;
    font-weight: bold;
    margin: 1em 0 .5em;
  }

  ul {
    list-style: none;
    margin: 1em 0;
    padding: 0;
  }

  .actions, .context {
    font-size: .9em;

    h2 {
      margin: 0;
      display: inline;
      font-size: 1em;
      font-weight: normal;

      &:after {
        content: ":";
      }
    }

    ul {
      display: inline;
    }

    li {
      display: inline;
      white-space: nowrap;
      font-style: italic;

      &:not(:last-child) {
        &:after {
          content: ", ";
        }
      }
    }
  }

  #authors {
    li {
      display: inline;
      margin-right: 1.5em;
      white-space: nowrap;
    }

    a {
      &:not(:hover) {
        background: none;
      }
      sup {
        margin: 0 -.1em 0 .1em;
      }
    }
  }

  #affiliations {
    list-style: none;
    margin: 1em 0;
    padding: 0;

    font-size: .9em;

    sup {
      margin-right: .15em;
    }
  }
}

#abstract {
  font-weight: bold;
  hyphens: auto;
  padding-bottom: 10px;

  h2 {
    display: none;
  }
}

main, #appendix {
  counter-reset: section;

  section > p, ul, ol, dl {
    hyphens: auto;
  }

  // Sections
  h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 1.5em 0 .5em;

    counter-increment: section;
    counter-reset: subsection;

    &::before {
      content: counter(section) ". ";
    }
  }

  // Subsections
  h3 {
    font-size: 1.2em;
    font-weight: bold;

    counter-increment: subsection;
    counter-reset: subsubsection;

    &::before {
      content: counter(section) "." counter(subsection) ". ";
    }
  }

  // Titled paragraphs
  h4 {
    font-weight: bold;
    margin: 0 1em 0 0;

    counter-increment: subsubsection;

    &::before {
      content: counter(section) "." counter(subsection) "." counter(subsubsection) ". ";
    }
  }

  // Paragraphs
  p {
    margin-bottom: 1em;
  }

  // Lists
  ul, ol {
    margin: 1em 0;

    li {
      margin-left: 2em;
      &:before {
        position: absolute;
        display: block;
      }
    }
  }
  ul {
    li {
      &:before {
        content: "▪";
        font-size: 1.2em;
        margin: -.1em 0 0 -.9em;
      }
    }
  }
  ol {
    counter-reset: ol;
    li {
      &:before {
        content: counter(ol) ".";
        counter-increment: ol;
        margin: 0 0 0 -2em;
        text-align: right;
        min-width: 1.5em;
      }
    }
  }

  // Figures
  figure {
    background: darken(white, 4%);
    padding: 1em 2em;
    margin: 1em 0;

    figcaption {
      margin: 1em 0 .5em;

      .label {
        float: left;
        font-weight: bold;
        margin-right: .5em;
      }
      p {
        margin: 0;
      }
    }
  }

  // References
  .references {
    font-size: .95em;
    color: #999;
    a:not(:hover) {
      color: #999;
      background: none;
    }
  }
}

#appendix {
  h1 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 1em 0 .5em;
  }
  // Sections
  h2 {
    &::before {
      content: counter(section, upper-alpha) ". ";
    }
  }
}

footer {
  h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 1em 0 .5em;
  }
}

a {
  $link-color: #45678e;
  $hover-color: #0b99bc;

  color: $link-color;
  text-decoration: none;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-repeat: repeat-x;
  background-position: 0 1.2em;
  background-size: 50px 1px;

  &:hover {
    color: $hover-color;
  }
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

sup {
  vertical-align: super;
  font-size: smaller;
}
sub {
  vertical-align: sub;
  font-size: smaller;
}

q {
  font-style: italic;

  &::before {
    content: "“";
  }
  &::after {
    content: "”";
  }
}

pre {
  line-height: 1.2;
  overflow-x: auto;
  overflow-y: hidden;

  code {
    font-size: .9em;
    letter-spacing: -.1pt;
  }
}

figure.numbered pre {
  counter-reset: precode;

  code {
    &::before {
      color: lightgray;
      left: -1.75em;
      text-align: right;
      display: inline-block;
      width: 1.5em;
      content: counter(precode) " ";
      counter-increment: precode;
    }
  }
}

#references {
  h2 {
    &::before {
      content: "";
    }
  }

  dl {
    font-size: .9em;

    dt {
      float: left;
      clear: left;
    }

    dd {
      margin: 0 0 .5em 2em;
    }
  }
}


#footnotes {
  counter-reset: footnote;

  ol {
    font-size: .9em;
    list-style: none;

    li {
      &:before {
        counter-increment: footnote;
        content: counter(footnote);
        font-size: smaller;
        margin: -.3em .1em 0 0;
        float: left;
      }
    }
  }
}

table {
  margin: 0 auto;

  th, td {
    text-align: left;
    padding: 0 .5em;
  }

  th {
    font-weight: bold;
  }

  thead {
    border-bottom: 1px solid;
  }

  .hr {
    display: block;
    width: 100%;
    border-bottom: 1px solid;
  }
}

caption {
  padding:0.25em 0;
}
tbody th {
  text-align:left;
}

// Hide table of contents in screen-mode
ol.index-entries {
  display: none;
}
$max-width-default: 800px !default;

$font-text-secondary: "Source Sans Pro" !default;
// Set font size and line-height in ems or px.
// These values, especially $line-height-default, are used to compute vertical rhythm
// for many features in this theme. So do not use a unitless value for line-height,
// and don't use percentages, which will break layouts computed by multiplying this value.
$font-size-default: 1.2em !default;
$line-height-default: 1.5em !default;
$font-size-smaller: 0.9 !default; // How much smaller than font-size-default for features like sidenotes and footers?
$font-size-bigger: 2 !default; // How many times bigger than font-size-default for features like headings and pullquotes?

// Do you want space between paragraphs, rather than a text-indent? true or false
$spaced-paras: true !default;
// If not spacing paras, how large is the first-line indent on paragraphs?
$paragraph-indent: 1em !default;

// Rounded corners
$button-border-radius: 0.1em !default; // Roundness of button corners
$box-border-radius: 0.5em !default; // Roundness of box corners

// Rules, lines
$rule-thickness: 1px !default;

// Colours
$color-text-main: #222222 !default;
$color-text-secondary: #222222 !default;
$color-background: white !default;
$color-light: #e0e0e0 !default;
$color-mid: #9c9c9c !default;
$color-accent: #009E7F !default;
$color-links: #5f738c !default;
$color-buttons: $color-accent !default;
$color-buttons-hover: darken( $color-buttons, 20% ) !default;
$color-highlight: #ffd54d !default;
$color-notification-low-text: $color-light !default;
$color-notification-medium-text: $color-light !default;
$color-notification-high-text: $color-light !default;
$color-notification-low-background: #009E7F !default;
$color-notification-medium-background: #ffe388 !default;
$color-notification-high-background: #ff7c4d !default;

// Some features rearrange at certain screen sizes.
// What are your screen-width break points?
$break-width-small: 600px !default;
$break-width-medium: 900px !default;
$break-width-large: 1200px !default;
$break-height-small: 600px !default;
$break-height-medium: 900px !default;
$break-height-large: 1200px !default;

// Set the default start-depth of pages.
// This is the distance from the top of the page to the first element on the first page.
$start-depth: $line-height-default * 2 !default;

// Hyphenation
// Variables here apply to p, ul, ol, dl.
// Note: Most browsers and ereaders do not support hyphenation rules.
$hyphenation: manual !default; // Can be auto, none, or manual (only breaks on hyphens and soft hyphens)
$hyphenation-dictionary: "" !default; // Path to dictionary file, relative to `/book/styles`. E.g. "../../assets/hyph.dic".
$hyphenation-custom: add !default; // add or replace. Whether your dictionary adds to or replaces the built-in Prince dictionaries
$hyphenate-after: 3 !default; // Minimum letters on new line after hyphen
$hyphenate-before: 3 !default; // Minimum letters at end of line before hyphen
$hyphenate-lines: 1 !default; // Maximum number of consecutive lines ending with hyphens

// Text dividers
// For breaks created with *** in markdown.
// If using an image, set $text-divider-image in CSS URL syntax, e.g.
// $text-divider-image: url('../images/epub/text-divider.jpg');
$text-divider-text: "" !default; // Empty leaves space. \2022 is a bullet
$text-divider-image: "" !default;
$text-divider-image-width: $line-height-default * 2 !default;

// Footer
$footer-text-color: $color-text-main !default;
$footer-background-color: $color-accent !default;
$footer-border-color: $color-accent !default;

// Website masthead
$masthead-text-color: $color-light !default;
$masthead-background-color: $color-accent !default;
$masthead-border-color: $color-light !default;
$masthead-breadcrumb-divider: "\2044" !default; // 2044 is a fraction slash

// Website sidebar/navigation
$nav-bar-text-size: 0.8em !default;
$nav-bar-item-collapse: false !default; // Does the nav list fully expand, or collapse until mouseover?
$nav-bar-close: "\00D7" !default; // &times; ×
$nav-bar-children-prompt: "+" !default;
$nav-bar-children-prompt-hide: "\2212" !default; // \2212 is an actual minus sign
$nav-bar-scrollbar: true !default;
$nav-bar-width: 15em !default;
$nav-bar-fixed: true !default; // fixed is not fully supported on many mobile browsers
$nav-bar-back-button-hide: true !default;
$nav-bar-title-color: $color-text-secondary !default;
$nav-bar-label-color: $color-light !default;
$nav-bar-label-background-color: $masthead-background-color !default;
$nav-bar-label-border-color: transparent !default;
$nav-bar-border-color: $color-light !default;
$nav-bar-background-color: white !default;
$nav-bar-search-background-color: white !default;
$nav-bar-parent-background-color: white !default;
$nav-bar-parent-text-color: black !default;
$nav-bar-parent-hover-color: $color-accent !default;
$nav-bar-parent-text-hover-color: white !default;
$nav-bar-children-prompt-color: $color-mid !default;
$nav-bar-child-background-color: $color-light !default;
$nav-bar-child-text-color: black !default;
$nav-bar-child-hover-color: $color-accent !default;
$nav-bar-child-text-hover-color: white !default;

// Language selector
$language-select-icon-color: $color-light !default;
$language-select-text-color: $color-text-secondary !default;
$language-select-links-color: $color-links !default;
$language-select-background-color: $color-background !default;

// Annotator
$annotator-sidebar-width: 16em !default;
$annotator-icon-line-color-active: $color-light !default;
$annotator-icon-line-color-inactive: $color-light !default;
$annotator-icon-background-color-active: $color-accent !default;
$annotator-icon-background-color-inactive: $color-background !default;
$annotator-icon-thickness: 1.5px !default;

// ---------------------------------
// Set to false to turn partials off
// ---------------------------------

// Reset browser CSS as best we can
$web-css-reset: true !default;

// Structural HTML components
$web-wrappers: true !default;

// Conventional helper classes
$web-helpers: true !default;

// Default typography
$web-base-typography: true !default;

// Navigation
$web-masthead: true !default;
$web-search: true !default;
$web-nav-bar: true !default;
$web-footer: true !default;
$web-accordion: true !default;

// Book parts
$web-cover: true !default;
$web-previous-publications-page: true !default;
$web-title-pages: true !default;
$web-copyright-page: true !default;
$web-dedications: true !default;
$web-epigraphs: true !default;
$web-toc: true !default;

// Book-feature classes
$web-bibliographies: true !default;
$web-boxes: true !default;
$web-buttons: true !default;
$web-code: true !default;
$web-dialogue: true !default;
$web-figures: true !default;
$web-highlighter: true !default;
$web-glossaries: true !default;
$web-index: true !default;
$web-maths: true !default;
$web-notes: true !default;
$web-openers: true !default;
$web-pullquotes: true !default;
$web-sources: true !default;
$web-tables: true !default;
$web-letters: true !default;
$web-verse: true !default;
$web-video: true !default;
$web-pagination: true !default;
$web-questions: true !default;
$web-select-questions: true !default;

// Docs
$web-docs: true !default;

// Type-control classes
$web-smallcaps: true !default;
$web-fitting: true !default;  // E.g. tracking and shrinking

// Controls
$web-controls: true !default;
$web-language-select: true !default;
$web-annotator: true !default;

// Logic (if this then that)
$web-reset-sequences: true !default; // This should stay last in the @import list

@mixin sidenote() {
  font-family: $font-text-secondary;
  clear: both;
  min-width: 5em;
  margin: 0 0 0.5em;
  padding: $line-height-default / 2;
  text-indent: 0;
  font-size: 1em * $font-size-smaller;
  line-height: $line-height-default * $font-size-smaller;
  font-style: inherit;
  background-color: white;
  position: relative;
  // Sidenotes only float to the right on screens
  // larger than the smallest break point
  @media only screen and (min-width: $break-width-small) {
      float: right;
      margin: 0 0 0.5em 0.5em;
      max-width: 10em;
  }
  @media only screen and (min-width: $break-width-large) {
      margin: 0 -12em ($line-height-default / 2) 2em;
  }

  // Don't text-indent paragraphs that follow sidenotes that follow a heading.
  // We allow for up to three sidenotes between the heading and paragraph.
  h1 + & + p,
  h2 + & + p,
  h3 + & + p,
  h4 + & + p,
  h5 + & + p,
  h6 + & + p,
  h1 + & + & + p,
  h2 + & + & + p,
  h3 + & + & + p,
  h4 + & + & + p,
  h5 + & + & + p,
  h6 + & + & + p,
  h1 + & + & + & + p,
  h2 + & + & + & + p,
  h3 + & + & + & + p,
  h4 + & + & + & + p,
  h5 + & + & + & + p,
  h6 + & + & + & + p {
      text-indent: 0;
  }
  // Unless we're spacing paras, add an indent
  // on paras that follow sidenotes that follow paras.
  p + & + p {
      text-indent: $paragraph-indent;
  }
  @if $spaced-paras {
      p + & + p {
          text-indent: 0;
      }
  }
  // If sidenotes are blockquotes, the text will be in a p,
  // so inherit appearance from .sidenote, not p
  & p {
      line-height: inherit;
      color: inherit;
  }
  // Some sidenotes are inside boxes and need different margins
  .box & {
      margin-right: -13.25em;
  }
  @media only screen and (max-width: $break-width-small) {
      .box & {
          margin-right: inherit;
      }
  }
}
$web-notes: true !default;
@if $web-notes {

    // Single sidenote
    .sidenote {
        @include sidenote();
    }

    // Footnotes section
    .footnotes {
      margin: ($line-height-default * 2) 0 0 0;
      padding: $line-height-default 0;
      border-top: $rule-thickness solid $color-light;
      color: $color-mid;
    }
    .footnotes p {
        text-indent: 0;
    }

    // Footnote popups
    .footnote-detail {
        // pull footnote-detail out of the doc flow so they hover above text
        z-index: 1;
        position: absolute;
        // look and feel
        margin-top: $line-height-default;
        max-width: $max-width-default;
        margin-left: auto;
        margin-right: auto;
        left: $max-width-default * 0.25 / 3;
        right: $max-width-default * 0.25 / 3;
        background-color: $color-background;
        font-family: $font-text-secondary;
        font-size: $font-size-default;
        line-height: $line-height-default;
        border: 0.2em solid $color-accent;
        padding: ($line-height-default / 2);
        box-shadow: 1px 2px 7px grey;
        border-radius: $box-border-radius;
        p {
            margin-bottom: 0;
        }
        // When footnotes are in sidenotes, let them be wider
        .sidenote.contains-footnote & {
            left: 0;
            right: 0;
        }
    }

    .footnotes {
        color: $color-text-secondary;
    }

    // .footnote-detail {
    //     .reversefootnote {
    //         @include button-close($color-accent);
    //         border: 0;
    //         color: white;
    //         font-size: 1em;
    //         line-height: 1;
    //         padding: 0.15em 0.1em 0em 0.1em; // override button-close padding
    //         position: absolute;
    //         right: -($line-height-default / 2);
    //         top: -($line-height-default / 2);
    //         &:before {
    //             content: $nav-bar-close;
    //             display: inline-block;
    //             width: 1em;
    //             position: relative;
    //             top: -0.1em;
    //         }
    //         // When a footnote is used twice in a doc,
    //         // hide the second reverse footnote in popups, which
    //         // breaks the 'close' action of footnote popups.
    //         & + .reversefootnote {
    //             display: none;
    //         }
    //     }
    // }

    // Prevent footnote references from disappearing below the fixed nav bar when linked to.
    sup:target {
        padding-top: 3.5em;
    }

    // .bottom {} // Only used for print output, ignored for screen.

}

@import "shared.scss";
@import "shared_override.scss";
